body{
    margin:0;
    background:#f8f9fa;
}

.sidebar{
    width:260px;
    min-height:100vh;
    background:#212529;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 20px;
    font-size:18px;
}

.sidebar a:hover{
    background:#343a40;
}

.sidebar h3{
    color:white;
}

.content{
    flex:1;
    padding:30px;
}